## 以下のファイルは読まないでください

.env


## 必要に応じて以下のファイルを参考にしてください。

全体の仕様: docs/SPECIFICATION.md
LLMの使い方: docs/SPECIFICATION.md
TODO、進捗管理: docs/TODO.md

## ターミナルを使う場合の注意

- 開発はmacosで行なっています
- 環境変数ファイル .env を適用してください。 `eval $(dotenv list)`
- 開発サーバーをnpm run devで起動したら、ターミナルを見てポート番号を確認し、ブラウザでのテストも開始してくださいその際、npm run devはコマンド終了せず、待ち状態になるので、数秒でテストに移行してください。

## shadcnの使い方
初期化 `npx shadcn@latest init -d`
必要なコンポーネントのインストール  `npx shadcn@latest add button`

## 作業手順

1. 作業をするためにgithubを使っています。
2. 新規にまとまった機能追加をする場合はブランチを作ってください。
3. ある程度作業がすすんだらブラウザで動作テストしてください。
4. 動作が確認できたらdocs/TODO.mdに反映してください。
5. 実装途中に仕様を変更したら、docs/SPECIFICATION.mdにも反映してください。
6. 作業がある程度進んだらcommitし、時々pushもしてください。
7. 1機能の開発が済んだらghコマンドでPRを作成してください。

