## 以下のファイルは読まないでください

.env


## 必要に応じて以下のファイルを参考にしてください。

全体の仕様: docs/SPECIFICATION.md
LLMの使い方: docs/SPECIFICATION.md
TODO、進捗管理: docs/TODO.md
前任者からの引き継ぎ資料: docs/HANDOVER.md

## ターミナルを使う場合の注意

- 開発はmacosで行なっています
- 環境変数ファイル .env を適用してください。 `eval $(dotenv list)`
- 開発サーバーをnpm run devで起動したら、ターミナルを見てポート番号を確認し、ブラウザでのテストも開始してくださいその際、npm run devはコマンド終了せず、待ち状態になるので、数秒でテストに移行してください。

## shadcnの使い方
初期化 `npx shadcn@latest init -d`
必要なコンポーネントのインストール  `npx shadcn@latest add button`

## 作業手順

1. 作業をするためにgithubを使っています。
2. 新規にまとまった機能追加をする場合はブランチを作ってください。
3. ある程度作業がすすんだら**ブラウザで動作テストしてください。**
4. ここまで繰り返し、不具合を無くしてください。
5. 完了作業
    a. 動作が確認できたらdocs/TODO.mdに反映してください。
    b. 実装途中に仕様を変更したら、docs/SPECIFICATION.mdにも反映してください。
    c. 引継ぎ資料docs/HANDOVER.mdを全てクリアして空にしてください。ただし特に引き継ぐべき事項があれば、ごく短いテキストで書いてください。
    d. ** commitし、pushもして、ghコマンドでPRを作成してください。**
6. ここまでやったらタスク完了です。

## 引継ぎ作業

「引継ぎして」と命令されたら、作業を中断して次の担当者に引き継ぐためにdocs/HANDOVER.mdに引継ぎ資料を作成してください。
- 引継ぎ資料はシンプルで短いテキストで書いてください。
- 残っているタスクや、今困っていた事などを説明してください。
